<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!---->
    <link rel="shortcut icon" href="./img/logo.png">

    <title>Bitakotako</title>
    <!---->
    <link id="modeDarkTheme" rel="stylesheet" href="">
    <link id="modeLightTheme" rel="stylesheet" href="styles/generalStyles.css">

</head>

<body>
    <div id="bodyGame" class="fullView">
        <!-- Content LEFT -->
        <section class="content-left">
        </section>
        <!-- Content CENTER -->
        <section id="timeGame-events" style="margin: 0px 15px;">
            <a href="/auth/signin" class="">Click here to sign in calendar</a>
        </section>
        <!-- Content RIGHT -->
        <section class="content-right">
            <header>
                <nav id="containerNavPages" class="content-horizontal content-right">
                    <a href="/backlog"><button class="nav link text-16">Backlog</button></a>
                    <a href="/bootak"><button class="nav link text-16">Bootak</button></a>
                    <a href="/"><button class="nav link text-16 font-Major">Play</button></a>
                    <a href="/stream"><button class="nav link text-16">Stream</button></a>
                </nav>
            </header>
            </section>
    </div>
    
    <script>
    </script>
   
    <!--Functions for funtionalities in the app -->
    <script src="scripts/functionsFront.js"></script>

    <!--Sockets and comunication client with server-->
    <script src="/socket.io/socket.io.js" type="module"></script>
    <script src="scripts/client.js" type="module"></script>
</!--body>

</html>